.blur > * {
    opacity: 0;
    animation: animateBlur 2.5s forwards;
}

@keyframes animateBlur {
    from {
        opacity: 1;
        text-shadow: 0 0 1em rgba(0, 0, 0, .5);
        color: rgba(0, 0, 0, 0);
    }

    to {
        opacity: 1;
        text-shadow: 0 0 1em rgba(0, 0, 0, .5);
        color: #000;
    }
}
